*        text=auto
*.c      text diff=cpp
*.h      text diff=cpp
*.hpp    text diff=cpp
*.cpp    text diff=cpp
*.sh     text eol=lf
*.bat    text eol=crlf
*.rc     text eol=crlf
*.def    text eol=crlf
*.map    text eol=lf